/* GLOBALES */

:root {
    --fuenteHeading: 'Kiwi Maru', serif;
    --fuenteTexto: 'Mukta', sans-serif;

    --verde: #008c45;
    --blanco: #f4f5f0;
    --rojo: #cd212a;
    --negro: #0c0c0cff;
}

html {
    font-size: 62.5%;   /* 1 rem */
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteTexto);
    font-size: 1.6rem;
}

/* ---------------------------------------------------------------------------------------- */
/* GLOBALES */

h1 {
    font-family: var(--fuenteHeading);
    font-size: 4rem;
}

h2, h3, h4 {
    font-family: var(--fuenteTexto);
}

h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
} 

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------------------------- */
/* UTILIDADES */ 


.texto-centrado {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}


/* ---------------------------------------------------------------------------------------- */
/* HEADER */ 

.header-bg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bandera1 {
    grid-column: 1 / 2;
    background-color: var(--verde);
    height: 100%;
    width: 100%;
}

.bandera2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.nav-bg {
    background-color: var(--negro);
}

.navegacion-principal {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-enlace {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}

.bandera div{
    color: var(--blanco);
}

/* ---------------------------------------------------------------------------------------------------------- */

/* IMAGEN DE FONDO */

.fondo {
    background-image: url(../img/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    position: relative;
}


.contenido-fondo {
    position: absolute;
    background-color: rgb(0 0 0 / 75%);
    width: 100%;
    height: 100%;

    
}

.contenido-fondo h2 {
    color: var(--blanco);
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-fondo h2 {
        margin: 8rem 4rem;
        text-align: center;
    }
}