
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

$fuenteLogo: 'Kiwi Maru', serif;   
$fuenteHeading: 'Grand Hotel', cursive;

$verde: #008c45;
$blanco: #f4f5f0;
$rojo: #cd212a;
$negro: #0c0c0cff;
$gris: #e4e4e4;
$grisOscuro: #616161;



.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 75%);
    height: 200px;
    position: relative;
    margin-bottom: 50px;

    &-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 0;
            color: white;
            font-size: 25px;
            font-family: $fuenteHeading;
        }
    }
}

.presentacion {
    margin: 20px 0;
    width: 100%;
    position: relative;

    &-img {
        width: 100%;
        height: 400px;
    }

    &-over {
        position: absolute;
        top: 35px;
        left: 20px;
        
        &-texto {
            color: white;
            font-size: 14px;
            width: 60%;
            // text-shadow: 1px 1px 1px black;
            text-shadow:
            0.04em 0 black,
            0 0.04em black,
            -0.04em 0 black,
            0 -0.04em black;
            
            
            &-titulo {
                margin: 5px 0;
                font-weight: bold;
                font-size: 18px;
                width: 100%;
                
            }
            
            &-marca {
                margin: 5px 0;
                font-family: $fuenteLogo;
                font-size: 30px;
                font-weight: bold;
                position: relative;
                left: 15%;
            }
        }
        
        .linea {
            border-top: 2px solid $verde;
            width: 30%;
            display: flex;
        }
    }

    &-over-derecha {
        position: absolute;
        top: 35px;
        right: 20px;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &-texto {
            color: white;
            font-size: 14px;
            width: 60%;
            position: rela;
            // text-shadow: 1px 1px 1px black;
            text-shadow:
            0.04em 0 black,
            0 0.04em black,
            -0.04em 0 black,
            0 -0.04em black;
            
            &-titulo {
                margin: 5px 0;
                font-weight: bold;
                font-size: 18px;
                width: 100%;
                text-align: right;
            }
            
            &-marca {
                margin: 5px 0;
                font-family: $fuenteLogo;
                font-size: 30px;
                font-weight: bold;
                position: relative;
                right: 50px;
            }
        }

        .linea {
            border-top: 2px solid $verde;
            width: 30%;
            display: flex;
            position: absolute;
            right: 0px;
        }
    }
}

.separador {
    border-top: 2px solid $rojo;
    width: 70%;
    display: flex;
}


@media(min-width: 768px) {
    .hero {
        height: 300px;
        
        &-content h2{
            font-size: 35px;
        }
    }

    .presentacion {
        display: flex;
        &-img {
            width: 60%;
            height: 500px;
        }

        &-over {
            top: 10%;
            left: 20%;
            width: 40%;
            position: absolute;

            &-texto {
                color: black;
                margin: 0;
                font-size: 16px;
                // text-shadow: 1px 1px 30px white;
                text-shadow:
                0.04em 0 white,
                0 0.04em white,
                -0.04em 0 white,
                0 -0.04em white;

                &-titulo {
                    font-size: 22px;
                    margin-top: 20px;
                }

                &-marca {
                    font-size: 34px;
                    position: relative;
                    left: 45px; 
                    margin-bottom: 30px;
                }
            }
        }

        &-over-derecha {
            top: 10%;
            left: 20%;
            width: 40%;
            position: absolute;
    
            &-texto {
                color: black;
                margin: 0;
                font-size: 16px;
                // text-shadow: 1px 1px 30px white;
                text-shadow:
                0.04em 0 white,
                0 0.04em white,
                -0.04em 0 white,
                0 -0.04em white;

                &-titulo {
                    font-size: 22px;
                    margin-top: 20px;

                }

                &-marca {
                    font-size: 34px;
                    position: relative;
                    left: -45px; 
                    margin-bottom: 30px;
                }
            }
        }
    }

    .justify-end {
        justify-content: flex-end;
    }
}

@media(min-width: 992px) {
    .hero {
        height: 500px;

        &-content h2{
            font-size: 50px;
        }
    }

    .presentacion {
        &-img {
            height: 800px;
        }

        &-over {
            top: 20%;
            left: 18%;

            &-texto {
                font-size: 18px;

                &-titulo {
                    font-size: 32px;
                }
                
                &-marca {
                    position: relative;
                    left: 40px;
                    font-size: 50px;
                    margin-bottom: 30px;
                }
            }

            .linea {
                width: 20%;
            }
        }

        &-over-derecha {
            top: 20%;
            left: 18%;

            &-texto {
                font-size: 18px;

                &-titulo {
                    font-size: 32px;
                }
                
                &-marca {
                    position: relative;
                    left: -40px;
                    font-size: 50px;
                    margin-bottom: 30px;
                }
            }
            
            .linea {
                width: 20%;
            }
        }
    }
}