@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../../public/img-fondo.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../public/img-fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 200px;
  position: relative;
  margin-bottom: 50px;
}

.hero-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-content h2 {
  margin: 0;
  color: white;
  font-size: 25px;
  font-family: "Grand Hotel", cursive;
}

.presentacion {
  margin: 20px 0;
  width: 100%;
  position: relative;
}

.presentacion-img {
  width: 100%;
  height: 400px;
}

.presentacion-over {
  position: absolute;
  top: 35px;
  left: 20px;
}

.presentacion-over-texto {
  color: white;
  font-size: 14px;
  width: 60%;
  text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black;
}

.presentacion-over-texto-titulo {
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.presentacion-over-texto-marca {
  margin: 5px 0;
  font-family: "Kiwi Maru", serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  left: 15%;
}

.presentacion-over .linea {
  border-top: 2px solid #008c45;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentacion-over-derecha {
  position: absolute;
  top: 35px;
  right: 20px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.presentacion-over-derecha-texto {
  color: white;
  font-size: 14px;
  width: 60%;
  position: rela;
  text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black;
}

.presentacion-over-derecha-texto-titulo {
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: right;
}

.presentacion-over-derecha-texto-marca {
  margin: 5px 0;
  font-family: "Kiwi Maru", serif;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  right: 50px;
}

.presentacion-over-derecha .linea {
  border-top: 2px solid #008c45;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
}

.separador {
  border-top: 2px solid #cd212a;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .hero {
    height: 300px;
  }
  .hero-content h2 {
    font-size: 35px;
  }
  .presentacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .presentacion-img {
    width: 60%;
    height: 500px;
  }
  .presentacion-over {
    top: 10%;
    left: 20%;
    width: 40%;
    position: absolute;
  }
  .presentacion-over-texto {
    color: black;
    margin: 0;
    font-size: 16px;
    text-shadow: 0.04em 0 white, 0 0.04em white, -0.04em 0 white, 0 -0.04em white;
  }
  .presentacion-over-texto-titulo {
    font-size: 22px;
    margin-top: 20px;
  }
  .presentacion-over-texto-marca {
    font-size: 34px;
    position: relative;
    left: 45px;
    margin-bottom: 30px;
  }
  .presentacion-over-derecha {
    top: 10%;
    left: 20%;
    width: 40%;
    position: absolute;
  }
  .presentacion-over-derecha-texto {
    color: black;
    margin: 0;
    font-size: 16px;
    text-shadow: 0.04em 0 white, 0 0.04em white, -0.04em 0 white, 0 -0.04em white;
  }
  .presentacion-over-derecha-texto-titulo {
    font-size: 22px;
    margin-top: 20px;
  }
  .presentacion-over-derecha-texto-marca {
    font-size: 34px;
    position: relative;
    left: -45px;
    margin-bottom: 30px;
  }
  .justify-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 500px;
  }
  .hero-content h2 {
    font-size: 50px;
  }
  .presentacion-img {
    height: 800px;
  }
  .presentacion-over {
    top: 20%;
    left: 18%;
  }
  .presentacion-over-texto {
    font-size: 18px;
  }
  .presentacion-over-texto-titulo {
    font-size: 32px;
  }
  .presentacion-over-texto-marca {
    position: relative;
    left: 40px;
    font-size: 50px;
    margin-bottom: 30px;
  }
  .presentacion-over .linea {
    width: 20%;
  }
  .presentacion-over-derecha {
    top: 20%;
    left: 18%;
  }
  .presentacion-over-derecha-texto {
    font-size: 18px;
  }
  .presentacion-over-derecha-texto-titulo {
    font-size: 32px;
  }
  .presentacion-over-derecha-texto-marca {
    position: relative;
    left: -40px;
    font-size: 50px;
    margin-bottom: 30px;
  }
  .presentacion-over-derecha .linea {
    width: 20%;
  }
}
/*# sourceMappingURL=Home.css.map */