@import "./../../utilities/named_variables.scss";

.contact {
    position: relative;
    z-index: 10;
}

.fondo-contactos {
    z-index: 1;
    position: absolute;
    width: 100%;
    opacity: .2;
    height: 100%;
}

.contacto_titulo {
    z-index: 1000;
    position: relative;
    font-family: $fuenteLogo;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.contacto {
    position: relative;
    z-index: 1000;
    margin: 20px auto 0 auto;
    
    form {
        padding: 10px 0;
        width: 100%;

        .group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;

            label {
                font-weight: bold;
            }

            input {
                padding: 10px;
                border: 1px solid rgb(177, 177, 177);
                border-radius: 10px;
            }

            textarea {
                padding: 10px;
                border-radius: 10px;
                border: 1px solid rgb(177, 177, 177);
            }
        }
    }

    .mapa {
        width: 95%;
        height: 400px;
        margin: 0 auto;
        margin-top: 50px;

        &_iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    
    .btn {
        border: none;
        font-family: $fuenteLogo;
        width: 50%;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        background-color: #008c45;
        color: $blanco;
        padding: 12px 0;
    }
}

.follow {
    margin: 0;
    padding-bottom: 30px;
    
    &_title {
        font-size: 20px;
        z-index: 1000;
        position: relative;
        font-family: $fuenteLogo;
        font-weight: lighter;
        text-align: center;
        padding-top: 30px;
    }

    &_icons {
        display: flex;
        justify-content: center;
        gap: 10px;

        .rrss_icon {
            font-size: 35px;
        }
    }
}

@media(min-width: 768px) {
    .contacto {

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .formulario {
            width: 100%;
            margin-right: 10px;
            form {
                width: 100%;
            }

        }

        .mapa {
            width: 100%;
            margin: 0;
            padding-left: 20px;
            border-left: 1px solid rgb(157, 157, 157);
        }
    }
}

@media(min-width: 992px) {
    
}