@import "./../../utilities/named_variables.scss";

.contacto_titulo {
    font-family: $fuenteLogo;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.contacto {
    margin: 50px auto;

    form {
        background-color: rgb(218, 218, 218);
        padding: 10px 0;

        .group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;

            label {
            }

            input {
                padding: 10px;
            }
        }
    }
}

@media(min-width: 768px) {

}

@media(min-width: 992px) {
    
}