@import "./../../utilities/named_variables.scss";

.contact {
    position: relative;
    z-index: 10;
}

.fondo-contactos {
    z-index: 1;
    position: absolute;
    width: 100%;
    opacity: .2;
    height: 100%;
}

.contacto_titulo {
    z-index: 1000;
    position: relative;
    font-family: $fuenteLogo;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.contacto {
    position: relative;
    z-index: 1000;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
    
    form {
        padding: 10px 0;
        width: 100%;

        .group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;

            label {
            }

            input {
                padding: 10px;
                border: 1px solid rgb(177, 177, 177);
                border-radius: 10px;
            }

            textarea {
                padding: 10px;
                border: none;
                border-radius: 10px;
                border: 1px solid rgb(177, 177, 177);
            }
        }
    }
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    
    .btn {
        border: none;
        font-family: $fuenteLogo;
        width: 50%;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        background-color: #008c45;
        color: $blanco;
        padding: 12px 0;
    }
}

@media(min-width: 768px) {

}

@media(min-width: 992px) {
    
}