@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

$fuenteGral: 'Mukta', sans-serif;
$fuenteLogo: 'Kiwi Maru', serif;   
$fuenteTitulo: 'Grand Hotel', cursive;

$verde: #008c45;
$blanco: #f4f5f0;
$rojo: #cd212a;
$negro: #0c0c0cff;
$gris: #e4e4e4;
$grisOscuro: #616161;

.flag {
    background: linear-gradient(to right, $verde 0, $verde 33.3%, $blanco 33.3%, $blanco 66.6%, $rojo 66.6%, $rojo 100%); 
    
    .header_logo {
        padding: 10px 0;
        text-align: center;
        font-family: $fuenteLogo;
        font-size: 50px;
        margin: 0;
    }
}