@import "./../../utilities/named_variables.scss";

.flag {
    background: linear-gradient(to right, $verde 0, $verde 33.3%, $blanco 33.3%, $blanco 66.6%, $rojo 66.6%, $rojo 100%);
    position: relative;

    .d-flex {
        display: flex;
    }

    .home_link {
        text-decoration: none;
        color: $negro;
        margin: 0 auto;
        margin-bottom: 10px;
        z-index: 10;
    }

    .header_logo {
        font-family: $fuenteLogo;
        font-size: 50px;
        margin: 0;
    }

    .header_text {
        text-align: center;
        margin: 0;
        font-size: 12px;
    }

    .header_rrss {
        display: none;
    }
}

@media(min-width: 768px) {
    .flag {
        .header_rrss {
            width: 15%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 70%;
            right: 5%;

            .rrss_icon {
                width: 100%;
                height: 20px;
                color: $blanco;
            }
        }
    }
}

@media(min-width: 992px) {
    .flag {
        .header_rrss {
            width: 10%;
            top: 40%;
            right: 5%;

            .rrss_icon {
                width: 100%;
                height: 25px;
                color: $blanco;
            }
        }
    }
}