@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

$fuenteLogo: 'Kiwi Maru', serif;   
$fuenteHeading: 'Grand Hotel', cursive;

$verde: #008c45;
$blanco: #f4f5f0;
$rojo: #cd212a;
$negro: #0c0c0cff;
$gris: #e4e4e4;
$grisOscuro: #616161;

.flag {
    background: linear-gradient(to right, $verde 0, $verde 33.3%, $blanco 33.3%, $blanco 66.6%, $rojo 66.6%, $rojo 100%);
    
    .header_logo {
        padding: 10px 0;
        text-align: center;
        font-family: $fuenteLogo;
        font-size: 50px;
        margin: 0;
    }
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img-fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 75%);
    height: 150px;
    position: relative;
    box-shadow: 0px 5px 5px black;

    &-content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 0;
            color: white;
            font-size: 25px;
            font-family: $fuenteHeading;
        }
    }
}


@media(min-width: 768px) {
    .hero {
        height: 300px;

        &-content h2{
            font-size: 35px;
        }
    }
}

@media(min-width: 992px) {
    .hero {
        height: 400px;

        &-content h2{
            font-size: 50px;
        }
    }
}