@import "./../../utilities/named_variables.scss";

nav {
    padding: 5px;
    background-color: black;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        li {
            list-style-type: none;
            padding: 5px 0;

        }
        .navegacion-enlace {
            color: white; 
            text-decoration: none;
            font-size: 16px;
            border: none;
        }

        .cartwidget {
            color: white;
            display: flex;
            gap: 5px;

            &-cantidad {
                margin: 0;
            }
        }

    }
}

@media(min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 992px) {
    nav ul li .navegacion-enlace {
        font-size: 18px;
    }
}