


nav {
    padding: 1rem;
    background-color: black;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        li {
            list-style-type: none;
            padding: 5px 0;

            .navegacion-enlace {
                color: white;
                text-decoration: none;
                font-size: 16px;
                font-weight: bolder;
            }
        }
    }
}

@media(min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 992px) {
    
}