
:root {
  --fuenteGral: 'Mukta', sans-serif;
  --fuenteLogo: 'Kiwi Maru', serif;   
  --fuenteTitulo: 'Grand Hotel', cursive;

  --verde: #008c45;
  --blanco: #f4f5f0;
  --rojo: #cd212a;
  --negro: #0c0c0cff;
  --gris: #e4e4e4;
  --grisOscuro: #616161;
}

.Container {
  width: 95%;
  margin: 0 auto;
  color: red;
}

@media(min-width: 768px) {
  .Container {
    width: 90%;
  }
}

@media(min-width: 992px) {
  .Container {
    width: 85%;
  }
}

a, p, button, input {
  font-family: var(--fuenteGral);
}